.dws-wrapper {
  width: 100%;
  padding: 10% 5% 5% 5%;

  font-size: 1em;
  display: grid;
  grid-template-columns: auto;
  /* grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));*/
  grid-gap: 1%;
  /* padding: 1%;*/
}

.img-box-category {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*height: 300px;*/
  float: left;
}
.img-box-category a {
  display: block;
}
.img-box-category a i {
  position: absolute;
  font-size: 16px;
  color: #ffffff;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 0 8px rgba(180, 180, 180, 0.3);
  -moz-box-shadow: 0 0 0 8px rgba(180, 180, 180, 0.3);
  box-shadow: 0 0 0 8px rgba(180, 180, 180, 0.3);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: 0;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}
.img-box-category:hover a i {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.img-box-category a img {
  width: 100%;
  height: 300px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.img-box-category:hover a img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.img-box-category a::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  width: 0;
  height: 100%;
  left: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}
.img-box-category a:hover::before {
  width: 100%;
  left: 0;
}
.text-box-category {
  position: absolute;
  bottom: 5%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.text-box-category h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 6px 0;
}
.text-box-category span {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 2px 0 2px;
}
.text-box-category p {
  text-transform: none;
  font-size: 15px;
  margin: 10px 10px 5px;
}
.img-box-category:hover .textBox {
  -webkit-transform: translate(130%);
  -moz-transform: translate(130%);
  -ms-transform: translate(130%);
  -o-transform: translate(130%);
  transform: translate(130%);
}
@media screen and (max-width: 700px) {
  .dws-wrapper {
    grid-template-columns: 1fr;

    font-size: 0.8em;
  }
}
