.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.load {
  -webkit-animation: slide 2s;
  animation: slide 2s;
}
.logo {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************
*****14. Animation*********
********************/
@-webkit-keyframes slide {
  0% {
    background-image: url("../public/images/equity.jpg");
  }
  33% {
    background-image: url("../public/images/fixed-income.jpeg");
  }
  33.1% {
    background-image: url("../public/images/fixed-income.jpeg");
  }
  66% {
    background-image: url("../public/images/oil.jpg");
  }
  66.1% {
    background-image: url("../public/images/oil.jpg");
  }
  80% {
    background-image: url("../public/images/priv-equity.jpg");
  }
  80.1% {
    background-image: url("../public/images/priv-equity.jpg");
  }
  99% {
    background-image: url("../public/images/equity.jpg");
  }
  99.1% {
    background-image: url("../public/images/equity.jpg");
  }
  100% {
    background-image: url("../public/images/equity.jpg");
  }
}
@keyframes slide {
  0% {
    background-image: url("../public/images/equity.jpg");
  }
  33% {
    background-image: url("../public/images/fixed-income.jpeg");
  }
  33.1% {
    background-image: url("../public/images/fixed-income.jpeg");
  }
  66% {
    background-image: url("../public/images/oil.jpg");
  }
  66.1% {
    background-image: url("../public/images/oil.jpg");
  }
  80% {
    background-image: url("../public/images/priv-equity.jpg");
  }
  80.1% {
    background-image: url("../public/images/priv-equity.jpg");
  }
  99% {
    background-image: url("../public/images/equity.jpg");
  }
  99.1% {
    background-image: url("../public/images/equity.jpg");
  }
  100% {
    background-image: url("../public/images/equity.jpg");
  }
}

/*******************ContactForm*******************/
.contact-form {
  width: 50%;
  padding: 1%;
}
#map {
  padding: 1%;
}
#map iframe {
  height: 100%;
  width: 388px;
  margin: 0 auto;
}
@media screen and (max-width: 901px) {
  .contact-form {
    width: 100%;
  }
  #map {
    visibility: hidden;
    display: none;
  }
}
input[type="text"],
input[type="email"],
select,
.contact-form textarea {
  width: 100%;
  padding: 1%;
  background: rgba(218, 237, 255, 1);
  border: 1px solid rgba(20, 104, 168, 1);
  border-radius: 5px;
  margin: 20px 0 0 0;
  resize: vertical;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
.contact-form textarea:hover,
.contact-form textarea:focus,
select:hover,
select:focus,
textarea:hover,
textarea:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
.contact-form textarea,
input[type="textarea"] {
  height: 15vh;
}

/*******************
*******Go to Top*****
********************/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 55px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid rgba(20, 104, 168, 1); /* Remove borders */
  outline: none; /* Remove outline */
  /*background-color: #ffffff; /* Set a background color */
  color: rgba(20, 104, 168, 1); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  -webkit-box-shadow: inset 7px 5px 46px -12px rgba(20, 104, 168, 1);
  box-shadow: inset 7px 5px 46px -12px rgba(20, 104, 168, 1);
  text-transform: uppercase;
  text-shadow: 1px 3px 5px #fff;
}
#myBtn:hover {
  background-color: rgba(20, 104, 168, 1);
  color: #ffffff;
}
